### Milestone 2

This file is used just to check and view the database that has been saved to disk.

In [2]:
from dataframe_info import DataFrameInfo
import db_utils

# load local loan csv into pandas dataframe
df = db_utils.csv_to_dataframe('loan_payments.csv')

In [4]:
# check size and structure of the database
df_info = DataFrameInfo()
df_info.print_shape(df)

display(df.sample(10))

The shape of the dataframe is (54231, 43).

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
39475,798147,1003244,16000,16000.0,16000.0,60 months,16.49,393.27,D,D3,...,0.0,0.0,Aug-2018,223.87,NaN,Jun-2019,0.0,NaN,1,INDIVIDUAL
45996,583179,749412,9600,9600.0,9575.0,60 months,11.49,211.09,B,B4,...,0.0,0.0,Feb-2018,7777.22,NaN,Feb-2018,0.0,NaN,1,INDIVIDUAL
46465,568889,731832,9600,9600.0,9575.0,60 months,11.86,212.87,B,B5,...,0.0,0.0,Sep-2021,243.93,NaN,Sep-2021,0.0,NaN,1,INDIVIDUAL
33516,1066084,1300233,5000,5000.0,5000.0,36 months,6.03,152.18,A,A1,...,0.0,0.0,Dec-2019,2065.02,NaN,Dec-2019,0.0,NaN,1,INDIVIDUAL
19125,7874698,9596838,5000,5000.0,5000.0,36 months,11.99,166.05,B,B3,...,0.0,0.0,Jun-2021,2623.17,NaN,Jul-2021,0.0,NaN,1,INDIVIDUAL
30385,6725865,8328138,13700,13700.0,13700.0,60 months,14.33,321.13,C,C2,...,0.0,0.0,Aug-2021,9721.29,NaN,Aug-2021,0.0,NaN,1,INDIVIDUAL
20304,7689216,9390674,15000,15000.0,15000.0,60 months,NaN,435.89,F,F3,...,0.0,0.0,Dec-2021,435.89,Feb-2022,Jan-2022,0.0,20.0,1,INDIVIDUAL
22452,7485272,9147384,8875,8875.0,8875.0,NaN,19.52,327.67,D,D4,...,0.0,0.0,Jan-2022,327.67,Feb-2022,Jan-2022,0.0,31.0,1,INDIVIDUAL
28434,6904823,8546948,24000,24000.0,24000.0,60 months,15.22,573.74,C,C3,...,0.0,0.0,Jan-2022,573.74,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
15320,8579933,10341406,3075,3075.0,3075.0,36 months,23.70,120.16,F,F1,...,0.0,0.0,Jan-2022,120.16,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL